.footer {
  margin-top: auto;
  padding: 10px 5vw;
  border-top: 1px solid var(--gray-cool-200);
  background-color: white;
  font-size: 0.9em;
  margin-top: auto;

  p {
    display: flex;
    align-items: center;
    row-gap: 5px;
    column-gap: 10px;

    .heart {
      background-color: var(--red-500);
      width: 0.7em;
      height: 0.7em;
      position: relative;
      transform: rotate(45deg);
      animation: animateHeart 1.2s infinite;
      margin-bottom: -4px;

      &::before,
      &::after {
        content: "";
        width: 0.7em;
        height: 0.7em;
        background-color: var(--red-500);
        position: absolute;
        border-radius: 50%;
      }

      &::before {
        left: -0.5em;
      }

      &::after {
        top: -0.5em;
      }
    }

    @keyframes animateHeart {
      0% {
        transform: rotate(45deg) scale(0.8);
      }
      5% {
        transform: rotate(45deg) scale(0.9);
      }
      10% {
        transform: rotate(45deg) scale(0.8);
      }
      15% {
        transform: rotate(45deg) scale(1);
      }
      50% {
        transform: rotate(45deg) scale(0.8);
      }
      100% {
        transform: rotate(45deg) scale(0.8);
      }
    }

    a {
      color: var(--green-800);
      font-weight: 500;
    }
  }
}
