.container {
  .container__header {
    .header__title {
      margin: 16px 0 5px 0;
    }

    .header__stats {
      display: flex;
      align-items: center;

      .stat {
        display: flex;
        align-items: center;
        font-size: 13px;
        opacity: 0.9;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        &.stat__bookmark {
          cursor: pointer;
        }

        &.stat__created {
          cursor: pointer;

          &:hover {
            svg {
              color: var(--pink-500);
              fill: var(--pink-500);
            }
          }
        }

        &.stat__create {
          &:hover {
            svg {
              color: var(--green-500);
              fill: var(--green-500);
            }
          }
        }

        svg {
          margin-right: 5px;
        }
      }
    }
  }

  .container__comments {
    margin-top: 16px;
  }

  .timer__btn {
    position: fixed;
    top: 20px;
    right: 20px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s ease, opacity 0.3s ease;

    &__visible {
      visibility: visible;
      opacity: 1;
    }
  }

  .modal__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: fit-content;

    h1 {
      text-align: left;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .dropdown__modal {
    .file__dropdown {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      margin-bottom: 15px;
    }

    .crop__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .crop {
        div[class*="ReactCrop"] {
          div {
            height: 400px;
            img {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
