.drawer {
  width: 400px;
  background-color: var(--gray-200);
  box-shadow: -1px 0px 2px var(--gray-400);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  visibility: hidden;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease, visibility 0.3s ease;
  padding: 5px 15px;

  &__visible {
    visibility: visible;
    transform: translateX(0);
  }
}
