.container {
  .container__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .container__add {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-left: auto;
    border-radius: 50%;
    padding: 10px;

    svg {
      margin: 0;
    }
  }

  .container__empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container__title {
    text-align: center;
    margin: 24px 0;
  }
}
