@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--gray-cool-800);
  user-select: none;
}

*:focus {
  outline: none;
}

body {
  background-color: var(--gray-50);

  #root {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  main {
    width: 90vw;
    margin: 3vh auto;
  }
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.icon {
  width: 1em;
  height: 1em;

  &.loading {
    animation: spin 1s infinite;
  }
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

/* ScrollBard */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--gray-cool-300);
  border-radius: var(--border-radius);
  transition: background-color var(--transition-duration)
    var(--transition-animation);

  &:hover {
    background-color: var(--gray-cool-500);
  }
}

input {
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-cool-200);
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color var(--transition-duration)
    var(--transition-animation);
  background-color: white;

  &:hover {
    background-color: var(--gray-cool-100);
  }
}
