.header {
  padding: 10px 5vw;
  border-bottom: 1px solid var(--gray-cool-200);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  position: sticky;
  top: 0;
  row-gap: 2vh;
  column-gap: 10vw;
  z-index: 2;

  .logo {
    display: flex;
    align-items: center;
    column-gap: 10px;

    svg {
      font-size: 1.3em;

      path {
        fill: var(--green-600);
      }
    }
  }

  .form {
    display: flex;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
    flex: 1;
    flex-wrap: wrap;

    input {
      flex: 1;
    }

    button {
      svg {
        font-size: 1.5em;

        path {
          color: white;
        }
      }
    }

    .settings {
      svg {
        path {
          color: var(--gray-cool-900);
          fill: none;
        }
      }
    }
  }
}
