.container {
  width: 100%;
  display: grid;
  row-gap: 15px;

  .container__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .container__title {
    margin: 16px 0 5px 0;
  }
}
