.container__card {
  width: 100%;

  .card__title {
    font-size: small;
    font-weight: 600;
    opacity: 0.9;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    svg {
      margin-right: 10px;
    }
  }

  .card__content {
    margin-top: 10px;
  }
}
