.comment__card {
  padding: 10px 24px;
  border-radius: 4px;
  margin-bottom: 5px;
  position: relative;
  border-left: 5px solid var(--red-500);

  &.card__selected {
    border-left: 5px solid var(--green-500);
  }

  &:last-child {
    margin-bottom: 0;
  }

  .comment__details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .comment__author {
      font-size: small;
      font-weight: 600;
      opacity: 0.6;
      margin-right: 20px;
    }

    .comment__stats {
      display: flex;
      align-items: center;
      flex: 1;

      li {
        display: flex;
        align-items: center;
        font-size: 14px;
        cursor: pointer;
        margin-right: 15px;

        &:nth-child(3) {
          margin-right: auto;
        }

        &.stat__selected {
          svg {
            color: var(--green-600);
          }
        }

        &.stat__collapse {
          margin-right: auto;
        }

        &:last-child {
          margin-right: 0;
        }

        svg {
          margin-right: 5px;
        }
      }
    }
  }

  .comment__content {
    font-weight: 500;
    line-height: 16px;
    font-size: 13px;
    opacity: 0.8;
    margin-top: 5px;
    word-break: break-all;
  }
}
