@import "../../typography";
@import "../../utils/background";

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--gray-cool-200);
  transition: background-color var(--transition-duration)
    var(--transition-animation);
  background-color: white;
  position: relative;
  // overflow: hidden;

  &:hover {
    background-color: var(--gray-cool-100);
    cursor: default;
  }

  .details {
    display: flex;
    justify-content: space-between;

    .wrapper {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      padding: 15px 24px;
      padding-top: 20px;

      .subreddit {
        font-weight: 700;
        color: var(--gray-cool-500);
        font-size: 0.8em;
        margin-bottom: 5px;
      }

      .title {
        transition: color var(--transition-duration) var(--transition-animation);

        &:hover {
          color: var(--gray-500);
        }
      }

      .status {
        margin-top: 5px;
        padding: 5px 10px;
        display: inline-block;
        text-transform: capitalize;
        width: fit-content;
        border-radius: var(--border-radius);

        transition: background-color var(--transition-duration)
            var(--transition-animation),
          color var(--transition-duration) var(--transition-animation);

        &__finish {
          color: var(--green-900);
          background: var(--green-100);
        }

        &__draft {
          color: var(--blue-900);
          background: var(--blue-100);
        }

        &__queue {
          color: var(--yellow-900);
          background: var(--yellow-100);
        }
      }
    }

    .queue {
      display: flex;
      align-items: center;
      flex-direction: column;

      p {
        font-size: 0.8em;
        font-weight: 500;
      }
    }
  }

  .actions {
    display: flex;
    align-items: center;
    row-gap: 15px;
    column-gap: 25px;
    border-top: 1px solid var(--gray-cool-200);
    padding: 10px 24px;

    flex-wrap: wrap;

    li {
      display: flex;
      align-items: center;
      row-gap: 10px;
      column-gap: 10px;
      text-transform: capitalize;

      input {
        max-width: 50px;
        padding: 5px;

        &::before {
          position: absolute;
          content: "min";
          right: 0;
        }
      }

      &.status {
        p {
          cursor: pointer;
        }
      }

      &.progress {
        display: flex;
        align-items: center;
        row-gap: 5px;
        column-gap: 10px;
      }

      &.background {
        display: flex;
        cursor: pointer;
      }

      &.delete {
        display: flex;
        justify-content: flex-end;
        flex: 1;

        div {
          padding: 5px;
          cursor: pointer;
          color: var(--red-500);
          display: flex;
          align-items: center;
          row-gap: 5px;
          column-gap: 10px;

          svg {
            path {
              color: var(--red-500);
            }
          }
        }
      }
    }
  }
}
