@mixin fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal {
  @include fixed();

  border-radius: 4px;
  padding: 24px;
  max-width: 70vw;
  max-height: 80vh;
  background-color: white;
  visibility: hidden;
  transform: scale(0.5);
  opacity: 0;
  z-index: 10;
  margin: auto;
  transition: visibility 0.3s ease, transform 0.2s ease, opacity 0.2s ease;

  &__visible {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}

.modal__background {
  @include fixed();
  background-color: var(--gray-800);
  opacity: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.2s ease;

  &__visible {
    opacity: 0.75;
    visibility: visible;
  }
}
