@import "../utils/background";

.container {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(calc(100% + 10px));
  transition: transform 0.3s ease;

  @include background-theme();

  &__visible {
    transform: translateY(0);
  }

  svg {
    margin-right: 5px;
  }
}
